@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* customization */

:root {

    /* text*/
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);

    /* gradient */
    /* ======= */
    --light-magneta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);

    /* secondary */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magneta: hsl(289, 100%, 72%);
}

/* default */ 

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

/* the screen(the retina display) */
/* top of app */

.iphone__screen {
    background-color: var(--light-grayish-violet);
    width: 36vh;
}

.user-id {
    background: var(--light-magneta);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-id__profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 95%;
    padding-top: 5px;
    margin-left: 6px;
}

.user-id__profile img {
    background: var(--white);
    padding: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 6px;
}

/* .user-id__tag {
} */

.user-id__tag h3 {
    font-weight: 500;
    font-size: 10px;
    color: var(--white);
}

.user-id__tag p {
    color: var(--white);
    font-size: 7px;
}

/* .user-id .chevron {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.fa-chevron-left {
    color: var(--white);
    font-size: 9px;
    font-weight: 700;
    justify-content: start;
}


.fa-ellipsis-v {
    color: var(--white);
    display: inherit;
    font-size: 9px;
    justify-content: end!important;
}


/* chatbox */

.iphone__chatbox {
    padding: 10px;
}

.iphone__chatbox .chat {
    padding: 7px;
    display: flex;
    justify-content: flex-start;
    width: 75%;
}

.chat__text {
    font-size: 8px;
    color: var(--moderate-violet);
}

.reply {
    display: flex;
    justify-content: flex-end;
}

.reply .chat__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
}

.chat--one {
    width: 70%;
}

.chat--two {
    width: 65%;
}

.reply img {
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

.reply .chat__text {
    color: var(--desaturated-dark-violet);
}

.chat--violet {
    background: var(--light-violet);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}

.chat--violet p {
    font-size: 8px;
}

.chat--violet .circle {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

.chat--violet .txt {
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

.chat--violet p {
    color: var(--white);
    font-size: 8px;
}

.type-section {
    background-color: var(--white);
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#placeholder .placeholder {
    font-size: 8px;
    color: var(--dark-grayish-violet);
}

.iphone__chatbox .chat ,
.iphone__chatbox .reply {
    margin-top: 5px;
}

.iphone__chatbox .chat:last-child {
    margin-bottom : 6px
}

.iphone__chatbox .chat--violet:not(:last-child){
    margin-bottom: 8px;
}

.iphone__chatbox .chat--violet:last-child {
    margin-bottom: 10px;
} 
